---
import Main from '../components/flightInfoCOmponents/main.svelte';
export const prerender = false;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Info</title>
</head>
<body class="w-full h-full m-0">
    <Main client:load class="w-full h-full m-0"/>
</body>
</html>